<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
<%- include('./partials/preloader.ejs') %>
    
<%- include('./partials/authheader.ejs') %>

    <main class="py-4">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="d-flex justify-content-between align-items-center mb-4">
                        <h2><i class="bi bi-people me-2"></i>All Reviews</h2>
                        <a href="/writeReview" class="btn btn-primary">
                            <i class="bi bi-chat-left-text me-1"></i>Write a review
                        </a>
                    </div>

                    <!-- Posts Feed -->
                    <div id="reviewFeed">
                        <!-- Posts will be loaded here -->
                    </div>
                </div>
            </div>
        </div>
    </main>


    <script>
        const feed = document.getElementById('reviewFeed')

        const getReviews = fetch('http://localhost:8080/allreviews').then(res => res.json()).then((data) =>{
            feed.innerHTML =  data.map(dat => `
                    <div class="card mb-4 border-0 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">${dat.userName}</h5>
                        <p class="card-text">${dat.reviewContent}</p>
                      
                    </div>
                </div>
            
            `).join('')
        })
    </script>


<%- include('./partials/scripts.ejs') %>
</body>
</html>